@import "./colours.scss";
@import "./base.scss";

.game {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.fleet {
    display: inline-block;
    margin: 0 30px;

    &__water {
        border: 1px solid grey; 
        width: 300px;
        height: 300px;
        display: inline-table; 
    }
}
.container {
    display: inline-block;
    border: 1px solid $main-colour;
    border-radius: 5px;
    padding: 10px;
    text-align: center;

    ul {
        display: inline-block;
        padding: 0;
        text-align: center;
        text-decoration: none;
        list-style: none;
        
        .li {
            cursor: move;
            &--selected {
                color: $ship-hit;
                cursor: move;
            }
        }
    }
}
// td:hover {
//     background-color: red;
// }

.hit {
    background-color: $ship-hit;
    z-index: 1;
}
.miss {
    background-color: $ship-miss;
}
#rotate{
    transform: rotate(180);
}